{{('message' in globals())}}
{{extend 'layout.html'}}

{{include 'cards/skeleton.svg'}}

<div class="container game-container">
  <div class="row clearfix">
    <div class="card-container normal col-md-2">
      {{include files[0]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[1]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[2]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[3]}}
    </div>
    <div class="card-container col-md-2 extra hidden">

    </div>
    <div class="col-md-4 lead">
      <div class="row clearfix">
        <div class="col-md-6">
          <h4>Sets found: <span id="final-score">0</span></h4>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" value="300" id="timer" disabled="disabled">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="row buttons">
        <div class="col-md-11">
          <button type="button" class="btn btn-danger" id="no-set">No set</button>
          <button type="button" class="btn btn-default" id="hint">Hint</button>
          <button type="button" class="btn btn-info restart">Restart game</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="card-container normal col-md-2">
      {{include files[4]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[5]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[6]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[7]}}
    </div>
    <div class="card-container col-md-2 extra hidden">

    </div>
  </div>
  <div class="row clearfix">
    <div class="card-container normal col-md-2">
      {{include files[8]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[9]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[10]}}
    </div>
    <div class="card-container normal col-md-2">
      {{include files[11]}}
    </div>
    <div class="card-container col-md-2 extra hidden">

    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id="game-over">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>Game is over!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
          <button type="button" class="btn btn-info restart">Start a new game</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
